.about {
    display: grid;
}

.aboutMe {
    display: grid;
    font-size: 25px;

}
.paragraph {
    display: grid;
    font-size: 20px;

}


.image {
    display: grid;
    img {
        position: relative;
        width: 209px;
        height: 279px;
    }
}