.aboutButton{
    display: grid;
    height: 50px;
    width: 320px;
    font-size: 30px;
    background-color: #252323;
    color: #252323;

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);


    }
