.contactButton{
    display: grid;
    border:  transparent;
    height: 50px;
    width: 320px;
    font-size: 25px;
    background-color: #252323;
    color: #F5F1ED;


   
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);


    }
