.title{
    display: grid;
    font-size: 55px;
    justify-items: center; 
    padding-top: 15px;  
}


.header {
    display: grid;
    align-content: center;
    width: 100%;
    align-items: right;
    display: inline;
    text-decoration: none;
    font-size: 23px;
    padding-bottom: 5px;
    
}
.container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.content-wrapper{
    width: 100%;
    justify-content: center;

}

ul {
    display: flex;
    height: 45px;
    margin: 5;
    padding: 0;
    background-color: transparent;
    place-content: center;
    
}

li {
   display: inline-grid;
   
}

li a {
    display: block;
    color: black;

    padding-top: 5px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    text-decoration: gray;
    
}

.active {
    background-color: #9E7E6A;
}
